<!--大图评论-->
<div class="big_pic_comment" style="display:none;">
	<div class="bpc-top">
		<span class="comment-count">评论2</span>
		<span class="comment-publish">+发表评论</span>
	</div>
    <!--bpc_list 评论内容列表-->
    <ul class="bpc_list">
      <li>
        <div class="bpc_img"><a href=""><img src="/static/phone/images/photo4.jpg"></a></div>
        <div class="bpc_txt">
          <h3><span>徐总</span><i>刚刚</i></h3>
          <p>好漂亮的妹子啊！！！真的好漂亮我擦。</p>
        </div>
        <a class="big_pic_reply" href=""></a>
      </li>
      <li>
        <div class="bpc_img"><a href=""><img src="/static/phone/images/photo4.jpg"></a></div>
        <div class="bpc_txt">
          <h3><span>徐总</span><i>刚刚</i></h3>
          <span class="comment-obj">@XXX</span>
          <p>好漂亮的妹子啊！！！真的好漂亮我擦。</p>
        </div>
        <a class="big_pic_reply" href=""></a>
      </li>
    </ul>
    <!--没有更多评论时显示下面木有了-->  
    <div class="seminar-more">点击加载</div>
    <div class="seminar-nomore">下面木有了:P</div>
</div>

<!--编写评论-->
<div class="comment" style="display:none">
	<div class="comment-tit">
		<span class="comment-cancel">取消</span>
		<h1>发表评论</h1>
		<span class="comment-send">发送</span>
	</div>
	<div class="comment-content">
		<textarea placeholder="写评论..."></textarea>
	</div>
</div>