<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="screen-orientation" content="portrait">
	<title>拍我网--自拍节</title>
	<link rel="stylesheet" href="/static/phone/css/primarycss/public/reset.css">
	<link rel="stylesheet" href="/static/phone/css/primarycss/public/nav.css">
	<link rel="stylesheet" href="/static/phone/css/primarycss/autodyne.css">
</head>
<body>
<div class="autodyne" id="slider">
	<!-- 第一屏 -->
	<div class="autodyne_p autodyne_pone">
		<h2 class="autodyne_pone_tit"><img src="images/auto_p1_tit.png"></h2>
		<p class="autodyne_pone_txt"><img src="images/auto_p1_txt.png"></p>
		<a class="autodyne_arrow autodyne_pone_arrow"><i></i></a>
	</div>

	<!-- 第二屏 -->
	<div class="autodyne_p autodyne_ptwo">
		
	</div>
</div>
<script src="/static/phone/js/zepto.min.js"></script>
<script src="/static/phone/js/primaryjs/nav.js"></script>
<script src="/static/phone/js/primaryjs/commom.js"></script>
<script src="/static/phone/js/primaryjs/autodyne.js"></script>
</body>
</html>