<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>活动 - 拍我网</title>
     <meta name="renderer" content="webkit">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="keywords" content="拍我网 拍我 paiwo 摄影 摄影师 婚纱照 写真 paiwo.co 儿童摄影 人像 婚礼 影楼 摄影工作室 拍照 照片 美女" />
     <meta name="description" content="拍我网-专业的人像摄影服务平台，免费帮顾客找摄影师，免费帮摄影师找顾客。我们的心愿是让摄影师的创意可以与摄影服务市场真正融合，留下值得珍藏的每一刻。" />
     {% block commoncss %}
     {% include "../commoncss.html" %}
     {% end %}
     <link rel="stylesheet" href="/static/css/activity/base.css">
    <link rel="stylesheet" href="/static/css/activity/pedication.css">
    <style>
        
    body{
        min-width: 920px;
    }
        
    .active_late h3{
        margin-top: 0;
    }


    .active_late .alert_buttons_save{
        margin: 60px auto 0;
    }
        
    
    </style>
</head>
<body>
    <div class="group-shot">
    <!--banner-->
        <div class="group-shot-banner">
            <div class="pedication-banner-main">
                <span class="pedication-l"><img src="/static/images/nanse.png"></span>
                <span class="pedication-t"><img src="/static/images/wenzi.png"></span>
                <span class="pedication-b group-shot-btn"><img src="/static/images/anniu.png"></span>
            </div>
            <span class="pedication-author">©榨菜蛋花汤</span>
        </div>
        
    <!--活动内容-->
        <div class="group-shot-content">
          
            <div class="group-shot-main">
<!--                <div class="group-shot-cover"></div>-->
                <p class="group-shot-p1">拍我网甄选人气模特及拍摄场地</p>
                <p class="group-shot-p2">摄影师需报名并付费参与此多对一拍摄活动</p>
                <p class="group-shot-p3">根据报名人数进行分组，每组拍摄时间为1.5小时左右</p>
                <p class="group-shot-p4">拍摄结束后摄影师需上传当天的照片到拍我网的个人账号相册，并为相册添加#爱拍一起来#的标签，拍我网将从每期活动中挑选优秀作品组织系列活动的拍摄技巧分享会
    </p>
                <p class="group-shot-p5">
                    <span>活动时间：2015年9月20日</span>
                    <span class="group-shot-time">下午13:30-17:00 PM</span>
                    <span>活动地点:<i>杭州日式民宿</i></span>
                    <span>报名费用：88元/人；活动人数：限定10人，每组5人</span>
                </p>
                <p class="group-shot-img"></p>
                <p class="pedication-place"></p>
            </div>
            <p class="pedication-code"><img src="/static/images/activity/pedication-code.png"></p>
        </div>
        
        
        <!--faq-->
        <div class="group-shot-faq">
            <h3></h3>
            <div class="group-faq-main clearfix">
                <ul>
                    <li>
                        <h4>1. 为什有已经有拍我网账号却不能成功报名？</h4>
                        <p>注册后需要上传作品到个人账号，并点击页面右上角的按钮“成为摄影师”，申请成为拍我网注册摄影师。</p>
                    </li>
                    <li>
                        <h4>3. 拍摄时有几个场景，几个模特</h4>
                        <p>每次主题拍摄限定一个场景一个模特进行拍摄。</p>
                    </li>
                    <li>
                        <h4>5. 拍摄主题由谁设定，摄影师是否可以自由发挥</h4>
                        <p>每次的拍摄主题、拍摄场地、模特服装由拍我网进行安排，拍摄期间摄影师不得要求更改拍摄场地或模特服装等。</p>
                    </li>
                </ul>
                <span></span>
                <ul>
                    <li>
                        <h4>2. 活动是否需要付费</h4>
                        <p>每次活动会根据主题的不同收取一定的费用，报名的同时需支付该笔费用到指定账户。</p>
                    </li>
                    <li>
                        <h4>4. 每组摄影师有几个人？</h4>
                        <p>根据每次活动的限定人数进行分组，每组人数最多不超过7人。</p>
                    </li>
                    <li>
                        <h4>6. 如何得知是否报名成功以及分组信息</h4>
                        <p>完成支付即成功报名，分组信息将会在拍摄前3天分别以短信及邮件的方式进行发送。</p>
                    </li>
                </ul>
            </div>
        </div>
        

    {% block foot %}
  	{% include "../foot.html" %}
  	{% end %}
        
        
    </div>
   <!--弹框-->
   <!--立即参与报名-->
   <div class="setting_alert_shadow active_now">
        <div class="setting_alert_repwd">
           <i class="setting_alert_close"></i>
            <h3>立即参与报名</h3>
            <ul class="alert_repwd_inputs alert_input_sign">
                <li>
                    <span>姓名：</span>
                    <input type="text" class="name-input">
                    <i class="alert_repwd_inputs_i name-error-icon" style="display:none;"></i>
                    <a class="alert_repwd_inputs_error name-error-wd" style="display:none;">请填写姓名</a>
                </li>
                <li>
                    <span>联系方式：</span>
                    <input type="text" class="phone-input">
                    <i class="alert_repwd_inputs_i phone-error-icon" style="display:none;"></i>
                    <a class="alert_repwd_inputs_error phone-error-wd" style="display:none;">请填写联系方式</a>
                </li>
            </ul>
            <div class="checkbox">
             <a><i class="right-icon"></i></a>
             <u>关注拍我网此类活动</u>
            </div> 
            <a class="alert_buttons_save">提交</a>
        </div>
    </div>
    <!--抱歉，您来晚了-->
    <div class="setting_alert_shadow active_late">
        <div class="setting_alert_repwd">
           <i class="setting_alert_close"></i>
            <h3>抱歉！您来晚了</h3>
            <p class="setting_alert_mes">想要及时获得活动信息，请留下您的联系方式</p>
            <ul class="alert_repwd_inputs alert_input_sign">
                <li>
                    <span>姓名：</span>
                    <input type="text" class="name-input">
                    <i class="alert_repwd_inputs_i name-error-icon" style="display:none;"></i>
                    <a class="alert_repwd_inputs_error name-error-wd" style="display:none;">请填写姓名</a>
                </li>
                <li>
                    <span>联系方式：</span>
                    <input type="text" class="phone-input">
                    <i class="alert_repwd_inputs_i phone-error-icon" style="display:none;"></i>
                    <a class="alert_repwd_inputs_error phone-error-wd" style="display:none;">请填写联系方式</a>
                </li>
            </ul>
            <a class="alert_buttons_save">提交</a>
        </div>
    </div>
    <!--报名成功-->
    <div class="setting_alert_shadow active_success">
        <div class="setting_alert_repwd">
           <i class="setting_alert_close"></i>
            <h3>恭喜您！报名成功</h3>
            <p class="setting_alert_mes" style="display:none;">感谢关注拍我网活动，我们会通过以下方式向你发送后续活动信息</p>
            <ul class="alert_repwd_inputs alert_input_sign" style="display:none;">
                <li>
                    <span>姓名：</span>
<!--                    <input type="text">-->
                    <span class="put-info put-name"></span>
                    <i class="alert_repwd_inputs_i" style="display:none;"></i>
                    <a class="alert_repwd_inputs_error" style="display:none;">请填写姓名</a>
                </li>
                <li>
                    <span>联系方式：</span>
<!--                    <input type="text">-->
                    <span class="put-info put-phone"></span>
                    <i class="alert_repwd_inputs_i" style="display:none;"></i>
                    <a class="alert_repwd_inputs_error" style="display:none;">请填写联系方式</a>
                </li>
            </ul>
            <a class="alert_buttons_save">关闭</a>
        </div>
    </div>
    <!--还差一步，报名成功-->
    <div class="setting_alert_shadow active_soon">
        <div class="setting_alert_repwd">
           <i class="setting_alert_close"></i>
            <h3>还差最后一步报名成功</h3>
            <div class="set-code">
                <img src="/static/images/activity/group_shot_2.pic.jpg">
                <span>扫描二维码</span>
                <span>在微店进行购买并支付后即可报名成功</span>
            </div>
        </div>
    </div>
    
   <div class="setting_succeed"></div>
   
   {% block login-box %}
   {% include "../login-box.html" %}
   {% end %}
   

   
  
 
    
    <script src="/static/js/com/jquery-1.8.3.min.js"></script>
    <script src="/static/js/com/jquery.md5.js"></script>
    
    
<!--
    <script src="/static/js/com/common.js"></script>
    <script src="/static/js/side.js"></script>
    <script src="/static/js/activity/groupShot.js"></script>
-->
   
<!--   <script src="/static/js/minjs/comSide0826.js"></script>-->
    <script src="/static/js/com/common.js"></script>
    <script src="/static/js/side.js"></script>    
    <script src="/static/js/activity/groupShot.js"></script>
</body>
</html>