<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>通知 - 拍我网</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="keywords" content="拍我网 拍我 paiwo 摄影 摄影师 婚纱照 写真 paiwo.co 儿童摄影 人像 婚礼 影楼 摄影工作室 拍照 照片 美女" />
  <meta name="description" content="拍我网-专业的人像摄影服务平台，免费帮顾客找摄影师，免费帮摄影师找顾客。我们的心愿是让摄影师的创意可以与摄影服务市场真正融合，留下值得珍藏的每一刻。" />  
</head>
<body>

    <div id="main_box">
        <div class="notice-main">
            <h2>通知</h2>

            <div class="notice-line">
                <i class="notice-line-i">7</i>条新通知!
            </div>


            <div class="notice-list">
                <div class="notice-user-adv"><a><img/></a></div>
                <div class="notice-list-text">
                    <a class="notice-user-nic" href=":;">大傻逼纸哥</a>
                    <span>关注了你!</span>
                </div>
                <div class="notice-time">12分钟前</div>
                <div class="notice-focus-pic"><img/></div>
                <i class="notice-del"></i>
            </div>

            <div class="notice-list official clearfix">
                <div class="notice-user-adv"><img/></div>
                <div class="notice-list-text">
                    <a class="notice-user-nic" href=":;">[ 系统通知 ]</a>
                    <p>由于腾讯公司突然以莫须有的“安全问题”为由阻断了Artand网址在微信及朋友圈中的正常解析，目前我们正在积极与对方沟通并寻求解决问题。如果给您带来了不便还请谅解。在问题解决前，您可以通过手机中的浏览器正常访问 paiwo.co/dashabi（QQ浏览器除外）</p>
                </div>
                <div class="notice-time">12分钟前</div>
            </div>

            <div class="notice-line" id="his-notice">
                ⬇️ 历史通知 ⬇
            </div>

            <div class="page">
                <div class="page-in">
                    <a class="page-pre page-first">上一页</a>
                    <div class="page-no">
                        <a class="page-cur">1</a>
                        <a>2</a>
                    </div>
                    <a class="page-next">下一页</a>
                </div>
            </div>

        </div>
    </div>

</body>
</html>