<!--新tab部分-->
   
    <div class="top-tab">
    <a href="http://paiwo.co/gallery" target="_blank" class="return-gallery">拍我首页</a>
	  <h1 class="top-tab-logo"><a></a><span>云选片</span></h1>
	  <ul class="top-tab-con">    
	    <li class="tab-icon-select tab-icon" id="tab-icon_myset" style="display:none;">
	      <div class="tab-icon_myset">
	        <i class="select-arrow"></i>
	        <img class="tab-icon-userhead" src="">
	        <p></p> 
	      </div>
	      <div class="tab_select_box">
	       	<i class="tab_select_arrow"></i>
		      <div class="tab_select">  
		          <a class="select_browse"><i class="select_browse_i"></i>我的主页</a>
				  <a class="select_personcenter" href="http://paiwo.co/user" onclick="store.set('center_like','true')"><i class="select_personcenter_i"></i>个人中心</a>
                  <a class="select_like" href="http://paiwo.co/user" onclick="store.set('center','1')">喜欢</a>
				  <a class="select_store" href="http://paiwo.co/user" onclick="store.set('center','2')">收藏</a>
                  <a class="select_like" href="http://paiwo.co/user" onclick="store.set('center','3')">订单</a>
				  <a class="select_setting" href="http://paiwo.co/user" onclick="store.set('center','4')"><i class="select_like_i"></i>设置</a>
		      <a class="select_login_out" href="http://paiwo.co/logout"><i class="select_login_i"></i>登出</a>
		      </div>
	      </div>
	      
	    </li>
	    <li class="tab-icon1 tab-icon" id="top_message" style="display:none;">
	      <a class="tab-icon_myme" title="我的消息"></a><i></i>    
	    </li>
	   
	    <li class="tab-login" style="display:none;">
	      <a class="tab-login-a" href="javascript:;">登录</a>    
	    </li>
	    <li class="tab-regist" style="display:none;">
	      <a class="tab-regist-a" href="http://paiwo.co/register" target="_blank">注册</a>   
	    </li>
	  </ul>
	  <div class="tab-pc-change-select" style="display:none;">
        <span class="cus">我是顾客</span>
        <i class="select-arrow"></i>
	    <dl>
    	  <dd class="photog">我是摄影师</dd>
	    </dl>
	  </div>
	</div>
  <!--tab结束-->