<div id="nav">
    <!-- <a class="navi_protrait" href="/setting">
      <div class="navi_head_unlogin"></div>
      <div class="navi_head_login"></div>
      <div class="navi_head_headed_div"><img class="navi_head_headed" width="60" height="60"></div>
    </a> -->
    <!-- <a class="user_name" href="/setting"></a> -->
    <div class="navi_middle">
      <a class="navi_middle_index" href="/">  
        <div class="navi_middle_div">
          <i class="middle_index_i"></i>
          <span class="middle_index_span">首页</span>
        </div>         
      </a>
      <a class="navi_middle_photos" href="/gallery">  
        <div class="navi_middle_div">
          <i class="middle_pics_i"></i>
          <span class="middle_pics_span">画廊</span>
        </div>         
      </a>
      <a class="navi_middle_Photographer" href="/pagazine">
        <div class="navi_middle_div">
          <i class="middle_Photographer_i"></i>
          <span class="middle_Photographer_span">拍格志</span>
        </div>
      </a>    
      
      <a class="navi_middle_task" href="/market">
        <div class="navi_middle_div">
          <i class="middle_task_i"></i>
          <span class="middle_task_span">集市</span>
        </div>
      </a>

<!--
      <a class="navi_middle_search" href="/search">
        <div class="navi_middle_div">
          <i class="middle_task_i"></i>
          <span class="middle_task_span">搜索</span>
        </div>
      </a>
-->
      
      <a class="navi_middle_biz" href="/biz" target="_blank">
        <div class="navi_middle_div">
          <i class="middle_task_i"></i>
          <span class="middle_task_span">商业服务</span>
        </div>
      </a>

      <a class="navi_middle_light" href="/gizmos/lightroom">
        <div class="navi_middle_div">
          <i class="middle_task_i"></i>
          <span class="middle_task_span">小玩意</span>
        </div>
      </a>
      
      
      <a class="navi_middle_activities" href="/activity">
        <div class="navi_middle_div">
          <i class="middle_activities_i"></i>
          <span class="middle_activities_span">活动</span>
        </div>
      </a> 
      
      
    </div>

    <div class="navi_footer">
	  <!--<a href="/employ" class="join_us">JOIN US.</a>-->
      <a href="/employ" class="join_us_text">加入我们</a> 
    </div>  
     <a class="take_photos" href="/demand" style="display:none;"></a>
</div>