<div class="zha-main-box" id="update" style="display:none;">
  <div id="close-zha-box">×</div>
  <div class="zha-box">
	<h2>你居然还在用上个世纪的浏览器</h2>
	<h4>作为一家有格调的网站，我们全面不支持IE6、IE7、IE8及对应内核的浏览器</h4>
	<span>差不多也该安装一个现代浏览器了吧，点击下载</span>
	<div class="brose-download">
		<a href="http://www.baidu.com/s?wd=chrome" target="_blank"><img alt="chrome" src="/static/images/browser-jpg/chrome.jpg"></a>
		<a class="download-center" href="http://www.baidu.com/s?wd=360浏览器" target="_blank"><img alt="360浏览器" src="/static/images/browser-jpg/360.jpg"></a>
		<a href="http://www.baidu.com/s?wd=搜狗浏览器" target="_blank"><img alt="搜狗浏览器" src="/static/images/browser-jpg/sogou.jpg"></a>
	</div>
  </div>
</div>