{% extends "../base.html" %}

{% block title %}
<title>重置密码 - 拍我网</title>
{% end %}

{% block css %}
<link rel="stylesheet" href="/static/css/com/reset.css">
<link rel="stylesheet" href="/static/css/com/navi.css">
<link rel="stylesheet" href="/static/css/findPassword.css">
<link rel="stylesheet" href="/static/css/emailsend.css">
<style>
    .hide{
        display: none;
    }
</style>
{% end %}

{% block side %}
{% include "../side.html" %}
{% end %}

{% block body %}

<div class="main_content" id="set_new_password">
    <div class="blank"></div>
    <div class="box_password">
        <h2>新密码</h2>
        <div class="password_input_box">
            <input type="password" placeholder="输入新密码" name="password1" id="password1">
			<span class="newPwd_error_em" id="newPwd_error_em">格式错误</span>
			<i class="newPwd_error_icon" id="newPwd_error_icon"></i>
            <input type="password" placeholder="再次输入新密码" name="password2" id="password2">
            <span class="pwd_error_em" id="pwd_error_em">格式错误</span>
			<i class="pwd_error_icon" id="pwd_error_icon"></i>
           
            <input style="display: none" name="email" id="email" value="{{ email }}">
            <input style="display: none" name="session" id="session" value="{{ session }}">
            <p class="error_info hide" id="error_info"><img src="/static/images/icon/attention_small.png"></p>
        </div>
        <button id="next_step_button" class="next_step_button">完成</button>
    </div>
</div>


<div class="main_content hide" id="set_success">
    <div class="blank"></div>
    <div class="box_mail">
       <span class="set_success_ico"></span>
        <div class="head_success">
            <div class="email_success">密码修改成功！</div>
            <div><span id="left_time">5</span>秒后重新登录</div>
        </div>
        <div class="jump"><a href="/login">立即跳转</a></div>
    </div>
</div>



<script src="/static/js/lib/jquery.md5.js"></script>
<script src="/static/js/com/common.js"></script>
<script src="/static/js/side.js"></script>
<script>
	var $_next_step = $("#next_step_button");
	var pwd_one = $('#password1');
	var pwd_two = $('#password2');
	var pwd_one_err = $('#newPwd_error_em');
	var pwd_one_ico = $('#newPwd_error_icon');
	var pwd_two_err = $('#pwd_error_em');
	var pwd_two_ico = $('#pwd_error_icon');
	var pwd_reg = /^[0-9a-zA-Z\,\.]{6,15}$/;

	//trim函数
	function trim(str){
		return str.replace(/^\s+|\s+$/g,'');
	}

	//密码格式判断
	function is_rPwd(obj,err,ico){
		var value = trim(obj.val());
		if(obj.val()){
			if(!pwd_reg.test(value)){
				err.html('密码为6-15位');
				err.show();
				ico.show();
				return false;
			}else{
				err.hide();
				ico.hide();
				return true;
			}
		}else{
			err.hide();
			ico.hide();
			return false;
		}
	}

	pwd_one.on('blur',function(){
		is_rPwd(pwd_one,pwd_one_err,pwd_one_ico);
	});

	pwd_two.on('blur',function(){
		if(is_rPwd(pwd_two,pwd_two_err,pwd_two_ico)){
			if(pwd_one.val()!=pwd_two.val()){
				pwd_two_err.html('密码输入不一致！');
				pwd_two_err.show();
				pwd_two_ico.show();
			}else{
				pwd_two_err.hide();
				pwd_two_ico.hide();
			}
		 }
	});

	function do_password(){
		var _password1 = $("#password1").val();
		var _password2 = $("#password2").val();
		var _email = $("#email").val();
		var _session = $("#session").val();
		_password1 = $.md5("paiwo_" + trim(_password1));
		_password2 = $.md5("paiwo_" + trim(_password2));
		$.ajax({
				async: false,
				type: "POST",
				url: "/rest",
				dataType : 'json',
				data: {
//					email: _email,
//					password1: _password1,
//					password2: _password2,
//					session: _session
                    data: JSON.stringify({
                        email: _email,
                        password1: _password1,
                        password2: _password2,
                        session: _session,
                         method: 'paiwo.account.password.find_password'
                     })
				},
				success: function(data) {
					if (data.error_id == 0){
						$("#set_new_password").addClass("hide");
						$("#set_success").removeClass("hide");
						to_jump();
					}
					else{
						pwd_one_err.html('重置密码失败');
						pwd_one_err.show();
						pwd_one_ico.show();
					}
				},
				error: function(){
					pwd_one_err.html('重置密码失败');
					pwd_one_err.show();
					pwd_one_ico.show();
				}
			}
		)
	}



	$_next_step.on('click',function(){
		if(is_rPwd(pwd_one,pwd_one_err,pwd_one_ico) && is_rPwd(pwd_two,pwd_two_err,pwd_two_ico)){
			do_password();
		}
	});

	function to_jump() {
		var o = $("#left_time");
		var times = 5;
		function time(){
			if(times == 0){
				window.location.href="/login";
			}else{
				times--;
				o.html(times);
			}
			setTimeout(function(){time();}, 1000);
		}
		setTimeout(function(){time();}, 1000);
	}
</script>
{% end %}